//- Add course modal
#addCourseModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='content')
        .modal-content
            .modal-header
                h4.modal-title Thêm khóa học mới
                button.close(type='close', data-dismiss='modal') &times;
            .modal-body
                form
                    div.form-group.row
                        label(class="col-md-12 col-form-label", for="courseName") Tên khóa học
                        div(class="col-md-12")
                            input(type="text", class="form-control", id="courseName")
                    
                    div.form-group.row
                        label(class="col-md-12 col-form-label", for="courseDescription") Mô tả
                        div(class="col-md-12")
                            input(type="text", class="form-control", id="courseDescription")

                    div.form-group.row
                        label(class="col-form-label col-md-12", for="courseFee") Học phí
                        div(class="col-md-12")
                            input(type="number", class="form-control", id="courseFee")
                    
                    div.form-group.row
                        label(class="col-form-label col-md-12", for="courseStart") Ngày bắt đầu
                        div(class="col-md-12")
                            input(type="text", class="form-control", id="courseStart")
                    
                    div.form-group.row
                        label(class="col-form-label col-md-12", for="courseTeacher") Giảng viên	
                        div(class="col-md-12")
                            select(class="form-control", id="courseTeacher")
                                option(value="") (Chọn giảng viên)
                                
                                if users
                                    each user in users
                                        if user.role === 2
                                            option(value=user.fullname) #{user.fullname}
                    
                    p(class="text-success text-center" id="addCourseSuccess")
                    p(class="text-danger text-center" id="addCourseFailed")

                    div.d-flex.justify-content-end
                        button(class="btn btn-success", id="addCourseButton") Thêm
                        button(class="btn btn-default ml-3", data-dismiss="modal") Đóng

//- Edit course modal
#editCourseModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='content')
        .modal-content
            .modal-header
                h4.modal-title Cập nhật khóa học
                button.close(type='close', data-dismiss='modal') &times;
            .modal-body
                form
                    div.form-group.row
                        label(class="col-md-12 col-form-label", for="editCourseName") Tên khóa học
                        div(class="col-md-12")
                            input(type="text", class="form-control", id="editCourseName")
                    
                    div.form-group.row
                        label(class="col-md-12 col-form-label", for="editCourseDescription") Mô tả
                        div(class="col-md-12")
                            input(type="text", class="form-control", id="editCourseDescription")

                    div.form-group.row
                        label(class="col-form-label col-md-12", for="editCourseFee") Học phí
                        div(class="col-md-12")
                            input(type="number", class="form-control", id="editCourseFee")
                    
                    div.form-group.row
                        label(class="col-form-label col-md-12", for="editCourseStart") Ngày bắt đầu
                        div(class="col-md-12")
                            input(type="text", class="form-control", id="editCourseStart")
                    
                    div.form-group.row
                        label(class="col-form-label col-md-12", for="editCourseTeacher") Giảng viên	
                        div(class="col-md-12")
                            select(class="form-control", id="editCourseTeacher")
                                option(value="") (Chọn giảng viên)
                                
                                if users
                                    each user in users
                                        if user.role === 2
                                            option(value=user.fullname) #{user.fullname}
                    
                    p(class="text-success text-center" id="editCourseSuccess")
                    p(class="text-danger text-center" id="editCourseFailed")

                    div.d-flex.justify-content-end
                        button(class="btn btn-primary", id="editCourseButton") Cập nhật
                        button(class="btn btn-default ml-3", data-dismiss="modal") Đóng

//- Delete course modal
#deleteCourseModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='content')
        .modal-content
            .modal-header
                h4.modal-title#deleteCourseTitle
                button.close(type='close', data-dismiss='modal') &times;
            .modal-body
                    p(class="text-success text-center" id="deleteCourseSuccess")

                    div.d-flex.justify-content-end
                        button(class="btn btn-danger", id="deleteCourseButton") Xóa
                        button(class="btn btn-default ml-3", data-dismiss="modal") Đóng

//- View course modal
#viewCourseModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='content')
        .modal-content
            .modal-header
                h4.modal-title#viewCourseTitle
                button.close(type='close', data-dismiss='modal') &times;
            .modal-body
                    p(id="viewCourseDescriptionContent" class="text-secondary" style="word-wrap: break-word; text-align: justify;")

                    div.d-flex.justify-content-end
                        button(class="btn btn-default ml-3", data-dismiss="modal") Đóng