//- Payment process modal
#paymentProcessModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg(role='content')
        .modal-content
            .modal-header
                h4.modal-title Xử lý thanh toán
                button.close(type='close', data-dismiss='modal') &times;
            .modal-body
                    p(id="paymentProcessContent" style="word-wrap: break-word; text-align: justify;") Đang xử lý khoản thanh toán...

                    div.d-flex.justify-content-end
                        button(class="btn btn-default ml-3", data-dismiss="modal") Đóng