doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title KKL Edu
        link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon.png')

        //- Bootstrap 4 styles
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")

        //- My styles
        link(rel='stylesheet', type='text/css', href='/css/style.css')
        link(rel='stylesheet', type='text/css', href='/css/cardInfo.css')
        link(rel="stylesheet" type="text/css" href="/css/temp.css")
    body
        //- Content
        block content

        //- Notification modals
        include ../modals/notification

        //- Course modals
        include ../modals/course

        //- Learning schedule modals
        //- include ../modals/learningSchedule

        //- Exam schedule modals
        //- include ../modals/examSchedule

        //- Student modals
        include ../modals/student

        //- Teacher modals
        include ../modals/teacher

        //- Course enroll modal
        include ../modals/courseEnroll

        //- Log out modal & handler
        #logoutModal.modal.fade(role='dialog')
            .modal-dialog.modal-lg(role='content')
                .modal-content
                    .modal-header
                        h4.modal-title Bạn có chắc chắn muốn đăng xuất?
                        button.close(type='close', data-dismiss='modal') &times;
                    .modal-body.d-flex.justify-content-end
                        button(class="btn btn-danger", id="modalLogoutButton") Đăng xuất
                        button(class="btn btn-default ml-3", data-dismiss="modal") Đóng
        
        //- Bootstrap 4, Fontawesome & Log out
        script(src="https://kit.fontawesome.com/a65ad4e019.js", crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
        script(src="/js/logout.js")

        //- Course enroll
        script(src="/js/courseEnroll.js") 

        //- ----- Admin dashboard -----
        //- Notification client
        script(src="/js/notification/viewNotification.js") 
        script(src="/js/notification/addNotification.js") 
        script(src="/js/notification/editNotification.js") 
        script(src="/js/notification/deleteNotification.js") 

        //- Course client
        script(src="/js/course/viewCourse.js") 
        script(src="/js/course/addCourse.js") 
        script(src="/js/course/editCourse.js") 
        script(src="/js/course/deleteCourse.js") 

        //- Learning schedule client
        //- script(src="/js/schedule/viewLearningSchedule.js") 
        //- script(src="/js/schedule/addLearningSchedule.js") 
        //- script(src="/js/schedule/editLearningSchedule.js") 
        //- script(src="/js/schedule/deleteLearningSchedule.js") 

        //- Exam schedule client
        //- script(src="/js/schedule/viewExamSchedule.js") 
        //- script(src="/js/schedule/addExamSchedule.js") 
        //- script(src="/js/schedule/editExamSchedule.js") 
        //- script(src="/js/schedule/deleteExamSchedule.js") 

        //- Student client
        script(src="/js/student/addStudent.js") 
        script(src="/js/student/editStudent.js") 
        script(src="/js/student/deleteStudent.js") 

        //- Teacher client
        script(src="/js/teacher/viewTeacher.js") 
        script(src="/js/teacher/addTeacher.js") 
        script(src="/js/teacher/editTeacher.js") 
        script(src="/js/teacher/deleteTeacher.js")