doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title KKL Edu
        link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon.png')

        //- Bootstrap 4 styles
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")

        //- My styles
        link(rel='stylesheet', type='text/css', href='/css/style.css')
        link(rel='stylesheet', type='text/css', href='/css/cardInfo.css')
        link(rel="stylesheet" type="text/css" href="/css/temp.css")
    body
        //- Content
        block content

        //- Notification modals
        include ../modals/notification

        //- Course modals
        include ../modals/course

        //- Learning schedule modals
        //- include ../modals/learningSchedule

        //- Exam schedule modals
        //- include ../modals/examSchedule

        //- Student modals
        include ../modals/student

        //- Teacher modals
        include ../modals/teacher

        //- Course enroll modal
        include ../modals/courseEnroll

        //- Payment process modal
        include ../modals/paymentProcess

        //- Payment history courses modal
        include ../modals/paymentHistoryCourses

        //- Log out modal
        include ../modals/logout
        
        //- Bootstrap 4, Fontawesome & Log out
        script(src="https://kit.fontawesome.com/a65ad4e019.js", crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
        script(src="/js/logout.js")

        //- ----- Admin dashboard -----
        //- Notification management
        script(src="/js/admin/notification/viewNotification.js") 
        script(src="/js/admin/notification/addNotification.js") 
        script(src="/js/admin/notification/editNotification.js") 
        script(src="/js/admin/notification/deleteNotification.js") 

        //- Course management
        script(src="/js/admin/course/viewCourse.js") 
        script(src="/js/admin/course/addCourse.js") 
        script(src="/js/admin/course/editCourse.js") 
        script(src="/js/admin/course/deleteCourse.js") 

        //- Learning schedule management
        //- script(src="/js/admin/schedule/viewLearningSchedule.js") 
        //- script(src="/js/admin/schedule/addLearningSchedule.js") 
        //- script(src="/js/admin/schedule/editLearningSchedule.js") 
        //- script(src="/js/admin/schedule/deleteLearningSchedule.js") 

        //- Exam schedule management
        //- script(src="/js/admin/schedule/viewExamSchedule.js") 
        //- script(src="/js/admin/schedule/addExamSchedule.js") 
        //- script(src="/js/admin/schedule/editExamSchedule.js") 
        //- script(src="/js/admin/schedule/deleteExamSchedule.js") 

        //- Student management
        script(src="/js/admin/student/addStudent.js") 
        script(src="/js/admin/student/editStudent.js") 
        script(src="/js/admin/student/deleteStudent.js") 

        //- Teacher management
        script(src="/js/admin/teacher/viewTeacher.js") 
        script(src="/js/admin/teacher/addTeacher.js") 
        script(src="/js/admin/teacher/editTeacher.js") 
        script(src="/js/admin/teacher/deleteTeacher.js")

        //- ----- Student dashboard -----
        //- Course enroll
        script(src="/js/student/courseEnroll.js") 

        //- Payment process
        script(src="/js/student/paymentProcess.js") 

        //- Payment history courses
        script(src="/js/student/paymentHistoryCourses.js") 