extends ../layouts/layout

block content
    //- Header
    nav(class="navbar navbar-expand-md bg-white navbar-white")
        a(class="navbar-brand" href="/")
            img(id="logo" src="/img/KKL_logo.png" width="100" height="100")

    //- DataView
    div(class="fit-content-w")
        div(class="row")
            //- Menu
            div(class="col-sm-2 col-md-2 col-lg-2 col-xl-2")
                nav(class="navbar navbar-light" style="padding-top: 0px;")
                    ul(class="navbar-nav nav nav-pills" )
                        div(style="border-style: ridge; border-radius: 10px;")
                            br
                            img(src="/img/ava2.png" style="border-radius: 50%; height: 50%; width: 50%; display: block; margin-left: auto; margin-right: auto;")
                            li(class="nav-item")
                            p(class="nav-link" style="text-align: center;") Admin
                        br
                        li(class="nav-item active")
                            a(class="nav-link" href="notificationListM.html") Quản lý Thông báo
                        div(class="dropdown-divider")
                        li(class="nav-item")
                            a(class="nav-link" href="courseListM.html") Quản lý Khóa học
                        div(class="dropdown-divider")
                        li(class="nav-item")
                            a(class="nav-link" href="studyandexamScheduleM.html") Quản lý Lịch học và thi
                        div(class="dropdown-divider")
                        li(class="nav-item")
                            a(class="nav-link" href="studentInfoM.html") Quản lý Học viên
                        div(class="dropdown-divider")
                        li(class="nav-item")
                            a(class="nav-link" href="teacherInfoM.html") Quản lý Giảng viên
                        div(class="dropdown-divider")
                        li(class="nav-item")
                            a(class="nav-link" href="#") Đăng xuất
                        div(class="dropdown-divider")

            //- DataGridView
            div(class="col-sm-10 col-md-10 col-lg-10 col-xl-10")
                img(src="/img/notificationList_icon.png" width="40" height="40" alt="folder icon")
                span &nbsp;&nbsp;Quản lý Thông báo
                //- Notification List
                span(onclick="openForm()" class="l-btn noselect") Thêm thông báo mới
                table(id="MyTable" class="table table-hover")
                    thead
                        tr
                            th Tên thông báo
                            th Ngày đăng
                            th Điều khiển

                    tbody(id="notify-list")
    br
    br
    br
    br
    
    //- PopupAdd Form
    div(class="form-popup" id="popupForm" style="max-width: 500px; max-height: 550px; overflow: scroll;")
        form(action="" class="form-container")
            h1(style="text-align: center;")
                b Thêm thông báo
            label(for="headNotif")
                b Tiêu đề
            input(id="notif-title" type="text" placeholder="Nhập tiêu đề thông báo" name="headNotif")
            label(for="contentNotif")
                b Nội dung
            textarea(type="text" id="contentNotif" name="contentNotif" placeholder="Nhập nội dung thông báo" style="height:180px")
            button(type="submit" class="btn" onclick="handlePostNotify()") Thêm
            button(type="button" class="btn cancel" onclick="closeForm()") Đóng

    script(type='text/javascript').
        function openFormEdit(){document.getElementById("popupEdit").style.display = "block";}
        function closeFormEdit(){document.getElementById("popupEdit").style.display = "none";}

    //- PopupEdit Form
    div(class="form-popup" id="popupEdit" style="max-width: 500px; max-height: 550px; overflow: scroll;")
        form(action="" class="form-container")
            h1(style="text-align: center;")
                b Sửa TT thông báo
            label(for="headNotif")
                b Tiêu đề
            input(type="text" placeholder="Nhập tiêu đề thông báo" name="headNotif" value="[KHAI GIẢNG] Khóa học Phân tích thiết kế giải thuật")
            label(for="contentNotif")
                b Nội dung
            textarea(type="text" id="contentNotif" name="contentNotif" placeholder="Nhập nội dung thông báo" style="height:180px") Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam ipsum ex repudiandae enim? Tempora autem voluptatibus asperiores odio non, nemo aspernatur dolor mollitia repellat dignissimos veritatis sapiente quam ut voluptate.
            button(type="submit" class="btn") Xác nhận
            button(type="button" class="btn cancel" onclick="closeFormEdit()") Đóng

    //- Delete Confirm Modal 
    div(id="myModal" class="modal fade" role="dialog")
        div(class="modal-dialog")
            //- Modal content
            div(class="modal-content")
                div(class="modal-header")
                    h5(class="modal-title") Xóa
                    button(type="button" class="close" data-dismiss="modal") &times;

                div(class="modal-body")
                    p Bạn có chắc chắn muốn xóa?

                div(class="modal-footer")
                    button(type="button" class="btn btn-default" data-dismiss="modal") Đóng

                    input(id='deleteitem' type='hidden' name='confirm')
                    button(onclick="handleDeleteNotify()" type="submit" class="btn btn-danger") Xác nhận
    
    // Footer
    #footer.centroid
        .container-w
            .row
                // Map Picture
                img.flex.map(src='/img/map.png', width='400', heigh='400')
                
                // Info Footer
                .infoFooter
                    h Nhóm phát triển phần mềm KKL Edu
                    br
                    h 19 Nguyễn Hữu Thọ, Tân Phong, Q7, TPHCM
                    br
                    h Hotline: (+84) 0987654321
                    br
                    h Email: kklsupport@gmail.com
                    br
                    h Copyright © 2020 by KKL Edu
                    br

                    // Some Other Media
                    img.twitterLogo(src='/img/twitterLogo.png', width='100')
                    img(src='/img/facebookLogo.png', width='60')
                    img(src='/img/instagramLogo.png', width='55')
            
            // Product Footer
            .productFooter
                p
                    img(src='https://kichi.ggg.com.vn/wp-content/uploads/2018/10/bct.png')
                p Producted by KKL Software Team.

    script(src="/js/getNotifyForModerator.js") 
    script(src="/js/postNotify.js") 
    script(src="/js/deleteNotify.js") 
    script.
        function openForm() {
            document.getElementById("popupForm").style.display = "block";
        }
        function closeForm() {
            document.getElementById("popupForm").style.display = "none";
        }

        let selectedNotify;

        function handleDeleteNotify() {
            deleteNotify(selectedNotify.id)
            window.location.reload()
        }

        function makeClickDeleteEvent(notification_idx) {
            selectedNotify = notifList[notification_idx]
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: false
            });
        }

        getNofity()

        function handlePostNotify() {
            var title = document.getElementById("notif-title").value
            var content = document.getElementById("contentNotif").value
            postNotify(title, content)
        }