extends ./layouts/layout

block content 
    div
        .first-eye
            .p-absolute(style='width: 100%; background-color: #00000024')
        
            //- Header
            .p-absolute.container-w.z-index-h.l-header
                .l-logo
                    a.navbar-brand(href='#')
                        img#logo(src='/img/KKL_logo.png' width="100" height="100")
                .header-btn
                    .d-flex.header-btn-nor
                        div
                            a.nav-link(style='color: white', href='#')
                                b Giới thiệu
                        div
                            a.nav-link.blackText(href='/info/teacher')
                                b Giảng viên
                        div
                            a.nav-link.blackText(href='/info/course')
                                b Khóa học
                    
                    if user
                        div
                            span Hi, #{user.fullname}

                        div
                            if user.role === 5
                                a(href='/dashboard/admin')
                                    button.btn(class="btn-outline-primary ml-3", type='button') Thông tin
                            else if user.role === 4
                                a(href='/dashboard/student')
                                    button.btn(class="btn-outline-primary ml-3", type='button') Thông tin
                            else if user.role === 2
                                a(href='/dashboard/teacher')
                                    button.btn(class="btn-outline-primary ml-3", type='button') Thông tin
                        
                        div
                            a(href="#" id="logoutButton")
                                button.btn(class="btn-outline-danger mx-3", type='button') Đăng xuất

                    else     
                        div
                            a(href='/auth/register')
                                button.btn(class="btn-outline-primary", type='button') Ghi danh
                        
                        div
                            // Login
                            a(href='/auth/login')
                                button.btn(class="btn-danger mx-3", type='button') Đăng nhập
            
            .container-w.centroid
                .flex-h
                    div
                        br

                    // Get Advices
                    .getAdvices(style='border-radius: 10px')
                        form(action='', onsubmit='return CheckInput()', method='POST')
                            .form-group
                                input#phone.form-control(type='text', onclick='ClearErrorMess()', placeholder='Số điện thoại', name='phone')
                            .form-group
                                input#name.form-control(type='text', onclick='ClearErrorMess()', placeholder='Tên', name='name')
                            select#literacy.form-control
                                option(disabled='', selected='', value='') Trình độ học vấn
                                option(value='Primary') Tiểu học
                                option(value='Secondary') Trung học cơ sở
                                option(value='High') Trung học phổ thông
                                option(value='College') Cao đẳng
                                option(value='University') Đại học
                                option(value='Other') Khác
                            p#ErrorMess
                            button.btn.btn-success.colorSeeDetail.width100Percent.centroid(type='submit') Nhận tư vấn
        // Detail
        .detail.centroid
            .container-w.centroid
                .l-intro
                    .card
                        p
                        h4 KKL Edu
                        span.card-text.fontSize24 Là một trung tâm giáo dục chuyên nghiệp sáng tạo. Được thành lập bởi các chuyên viên và giảng viên hàng đầu của cả nước...
                        p
                        a.btn.btn-success.colorSeeDetail.centroid(href='') Xem chi ti&#x1EBF;t
                    .video.centroid
                        iframe(src='https://www.youtube.com/embed/1cu-tv2rJ-U')
    
        // Benefit
        .container
            p.spaceRow
            .row
                .col-lg-6.col-md-6.col-sm-6.col-xs-4.col-12
                    img.BenifitPicture(src='/img/benifit1.png')
                .col-lg-6.col-md-6.col-sm-6.col-xs-4.col-12.infoBenifit
                    h4 Tiện lợi, nhanh chóng, hiệu quả
                    span.card-text.fontSize20 Dễ dàng tra cứu thông tin khóa học, giảng viên, sơ đồ đào tạo. Các thắc mắc của học viên được phản hồi nhanh chóng bởi các chuyên gia.
            p.spaceRow
            .row
                .col-lg-6.col-md-6.col-sm-6.col-xs-4.col-12.infoBenifit
                    h4 Môi trường thân thiện
                    span.card-text.fontSize20 Trung tâm cam kết cung cấp đầy đủ các nhu cầu thiết yếu của học viên, tạo cho học viên những điều kiện thuận lợi nhất để học tập.
                .col-lg-6.col-md-6.col-sm-6.col-xs-4.col-12
                    img.BenifitPicture(src='/img/benifit2.png')
            p.spaceRow
            .row
                .col-lg-6.col-md-6.col-sm-6.col-xs-4.col-12
                    img.BenifitPicture(src='/img/benifit3.png')
                .col-lg-6.col-md-6.col-sm-6.col-xs-4.col-12.infoBenifit
                    h4 Học không giới hạn
                    span.card-text.fontSize20 Không giới hạn độ tuổi, không giới hạn trình độ, không giới hạn cấp bậc xã hội.
            p.spaceRow

        // Statistics
        .statisticTab(style='height: 100%')
            .container
                .row
                    // Box1
                    .col-lg-4.col-md-4.col-sm-4.col-xs-12.col-12
                        .card.WidthHeight9070Percent(style='margin-top: 50px')
                            .card-body
                                p.staticsInfo 5-7
                                p.fontSize35 Dạy theo từng nhóm nhỏ
                    // Box2
                    .col-lg-4.col-md-4.col-sm-4.col-xs-12.col-12
                        .card.WidthHeight9070Percent(style='margin-top: 50px')
                            .card-body
                                p.staticsInfo ∞
                                p.fontSize35 Phát triển vượt trội
                    // Box3
                    .col-lg-4.col-md-4.col-sm-4.col-xs-12.col-12
                        .card.WidthHeight9070Percent(style='margin-top: 50px')
                            .card-body
                                p.staticsInfo 70%
                                p.fontSize35 Tập trung thực hành
        
        // Customer Comments
        .container
            p.commentHeader Nhận xét
            .row
                .col-lg-2.col-md-3.col-11
                    img.customerAvatar(src='/img/ava1.png')
                .col-lg-10.col-md-9.col-11.infoCustomerComment
                    h4 Nguyễn Ngọc Thảo, mẹ của Minh Đức, 11 tuổi
                    span.card-text.fontSize20 Hồi học ở các trung tâm khác, con tôi chẳng chịu học hành gì cả. Nhưng kể từ khi tôi cho nó đăng ký học ở đây, mọi chuyện thay đổi rõ rệt. Không chỉ biết cách sử dụng máy tính hiệu quả, thằng bé còn nhiệt tình dạy cho mọi người trong gia đình sử dụng nữa.
            p.spaceRow
            .row
                .col-lg-2.col-md-3.col-11
                    img.customerAvatar(src='/img/ava2.png')
                .col-lg-10.col-md-9.col-11.infoCustomerComment
                    h4 Hoàng Anh, 20 tuổi
                    span.card-text.fontSize20 Học ở trung tâm rất vui, em gặp được rất nhiều bạn mới. Mọi người cùng trao đổi làm cho buổi học vô cùng sôi động.
            p.spaceRow
            .row
                .col-lg-2.col-md-3.col-11
                    img.customerAvatar(src='/img/ava3.png')
                .col-lg-10.col-md-9.col-11.infoCustomerComment
                    h4 Công Đăng, 30 tuổi
                    span.card-text.fontSize20 Cứ nghĩ ở cái tuổi này thì mình sẽ không phải học cái gì nữa, cũng không có nơi nào dạy người lớn tuổi. Nhưng thật may mắn, kiến thức ở trung tâm rất phù hợp với tôi, tôi có thể dễ dàng hiểu được nội dung mà giảng viên truyền tải. Gia đình tôi ủng hộ.
            
            // More Comments
            .row
                .col-lg-2.col-md-3.col-11
                .col-lg-10.col-md-9.col-11.infoCustomerComment
                    a.commentMore(href='#') Thêm đánh giá...
                p.spaceRow
        
        //- Footer
        #footer.centroid
            .container-fluid.pt-2
                .row
                    .col-md-4.d-flex.justify-content-center.mb-4
                        //- Map Picture
                        img(src='/img/map.png', width='300', heigh='300')
                    .col-md-8
                        //- Info Footer
                        div
                            p Nhóm phát triển phần mềm KKL Edu
                            p 19 Nguyễn Hữu Thọ, Tân Phong, Q7, TPHCM
                            p Hotline: (+84) 0987654321
                            p Email: kklsupport@gmail.com
                            p Copyright © 2020 by KKL Edu

                            //- Some Other Media
                            span(style="font-size: 2.5rem" class="mr-3")
                                i(class="fab fa-facebook")
                            span(style="font-size: 2.5rem" class="mr-3")
                                i(class="fab fa-twitter-square")
                            span(style="font-size: 2.5rem")
                                i(class="fab fa-instagram-square")
                .row
                    .col-md-12
                        //- Product Footer
                        div(class="d-flex justify-content-end flex-column align-items-end")
                            p
                                img(src='https://kichi.ggg.com.vn/wp-content/uploads/2018/10/bct.png')
                            p Producted by KKL Software Team.
