extends ../layouts/layout

block content 
    .first-eye(style="height: 50vh;")
            .p-absolute(style='width: 100%; background-color: #00000024')
        
            //- Header
            .p-absolute.container-w.z-index-h.l-header
                .l-logo
                    a.navbar-brand(href='#')
                        img#logo(src='/img/KKL_logo.png' width="100" height="100")
                .header-btn
                    .d-flex.header-btn-nor
                        div
                            a.nav-link.blackText(href='/')
                                b Giới thiệu
                        div
                            a.nav-link.blackText(style='color: white', href='/info/teacher')
                                b Giảng viên
                        div
                            a.nav-link.blackText(href='/info/course')
                                b Khóa học
                    
                    if user
                        div
                            span Hi, #{user.fullname}

                        div
                            if user.role === 5
                                a(href='/dashboard/admin')
                                    button.btn(class="btn-outline-primary ml-3", type='button') Thông tin
                            else if user.role === 4
                                a(href='/dashboard/student')
                                    button.btn(class="btn-outline-primary ml-3", type='button') Thông tin
                            else if user.role === 2
                                a(href='/dashboard/teacher')
                                    button.btn(class="btn-outline-primary ml-3", type='button') Thông tin
                        
                        div
                            a(href="#" id="logoutButton")
                                button.btn(class="btn-outline-danger mx-3", type='button') Đăng xuất
                    else     
                        div
                            a(href='/auth/register')
                                button.btn(class="btn-outline-primary", type='button') Ghi danh
                        
                        div
                            // Login
                            a(href='/auth/login')
                                button.btn(class="btn-danger mx-3", type='button') Đăng nhập
            
            div(class="container centroid")
                div(class="width100Percent")
                    div(class="colorSeeDetail width100Percent centroid banner") Danh sách các Giảng viên

    div(class="container centroid")
        //- Show Teacher List
        div(class="container")
            div(class="row")
                if users
                    each user in users
                        if user.role === 2
                            div(class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12")
                                div(class="user")
                                    img(src="/img/ava3.png")
                                    div(class="user-info")
                                        p(class="title") #{user.fullname}
                                        span(class="position") #{user.description}

    //- Footer
    #footer.centroid
        .container-fluid.pt-2
            .row
                .col-md-4.d-flex.justify-content-center.mb-4
                    //- Map Picture
                    img(src='/img/map.png', width='300', heigh='300')
                .col-md-8
                    //- Info Footer
                    div
                        p Nhóm phát triển phần mềm KKL Edu
                        p 19 Nguyễn Hữu Thọ, Tân Phong, Q7, TPHCM
                        p Hotline: (+84) 0987654321
                        p Email: kklsupport@gmail.com
                        p Copyright © 2020 by KKL Edu

                        //- Some Other Media
                        span(style="font-size: 2.5rem" class="mr-3")
                            i(class="fab fa-facebook")
                        span(style="font-size: 2.5rem" class="mr-3")
                            i(class="fab fa-twitter-square")
                        span(style="font-size: 2.5rem")
                            i(class="fab fa-instagram-square")
            .row
                .col-md-12
                    //- Product Footer
                    div(class="d-flex justify-content-end flex-column align-items-end")
                        p
                            img(src='https://kichi.ggg.com.vn/wp-content/uploads/2018/10/bct.png')
                        p Producted by KKL Software Team.
