extends ../../layouts/layout

block content
    //- DataView
    div(class="container-fluid")
        div(class="row")
            //- Menu
            div(class="col-sm-3 col-md-3 col-lg-3 col-xl-3")
                nav(class="navbar navbar-light" style="padding-top: 0px;")
                    ul(class="navbar-nav nav nav-pills" )
                        div(style="border-style: ridge; border-radius: 10px;")
                            br
                            img(src="/img/ava3.png" style="border-radius: 50%; height: 50%; width: 50%; display: block; margin-left: auto; margin-right: auto;")
                            li(class="nav-item")
                            p(class="nav-link" style="text-align: center;") Admin
                        br
                        li(class="nav-item")
                            a(class="nav-link" href="/dashboard/admin/notification") Quản lý thông báo
                        div(class="dropdown-divider")
                        li(class="nav-item")
                            a(class="nav-link" href="/dashboard/admin/course") Quản lý khóa học
                        div(class="dropdown-divider")
                        li(class="nav-item")
                            a(class="nav-link" href="/dashboard/admin/schedule") Quản lý lịch học và thi
                        div(class="dropdown-divider")
                        li(class="nav-item")
                            a(class="nav-link" href="/dashboard/admin/student") Quản lý học viên
                        div(class="dropdown-divider")
                        li(class="nav-item active")
                            a(class="nav-link" href="#") Quản lý giảng viên
                        div(class="dropdown-divider")
                        li(class="nav-item")
                            a(class="nav-link" href="/") Về trang chủ
                        div(class="dropdown-divider")
                        li(class="nav-item")
                            a(class="nav-link" href="#") Đăng xuất
                        div(class="dropdown-divider")

            //- DataGridView
            div(class="col-sm-9 col-md-9 col-lg-9 col-xl-9")
                h4
                    img(src="/img/student_icon.png" width="40" height="40" alt="folder icon")
                    span &nbsp;&nbsp;Quản lý giảng viên
                //- Teacher Info
                span(onclick="openForm()" class="l-btn noselect") Thêm mới thông tin giảng viên
                table(id="MyTable" class="table table-hover")
                    thead
                        tr
                            th Họ và tên
                            th Email
                            th Địa chỉ
                            th Số Điện thoại
                            th Điều khiển

                    tbody(id="teacher-list")

    br
    br
    br
    br
    
    //- Footer
    #footer.centroid
        .container-fluid.pt-2
            .row
                .col-md-4.d-flex.justify-content-center.mb-4
                    //- Map Picture
                    img(src='/img/map.png', width='300', heigh='300')
                .col-md-8
                    //- Info Footer
                    div
                        p Nhóm phát triển phần mềm KKL Edu
                        p 19 Nguyễn Hữu Thọ, Tân Phong, Q7, TPHCM
                        p Hotline: (+84) 0987654321
                        p Email: kklsupport@gmail.com
                        p Copyright © 2020 by KKL Edu

                        //- Some Other Media
                        span(style="font-size: 2.5rem" class="mr-3")
                            i(class="fab fa-facebook")
                        span(style="font-size: 2.5rem" class="mr-3")
                            i(class="fab fa-twitter-square")
                        span(style="font-size: 2.5rem")
                            i(class="fab fa-instagram-square")
            .row
                .col-md-12
                    //- Product Footer
                    div(class="d-flex justify-content-end flex-column align-items-end")
                        p
                            img(src='https://kichi.ggg.com.vn/wp-content/uploads/2018/10/bct.png')
                        p Producted by KKL Software Team.
